<!DOCTYPE html>
<html class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aluno Online</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a href="/" class="navbar-brand d-flex">
      <span class="pl-2 font-weight-bold ">Aluno Online</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler1"
      aria-controls="navbarToggler1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler1">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/notas">Notas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faltas">Faltas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/boletos">Boletos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/requerimentos">Requerimentos</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="/logout">Sair</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container p-2 p-md-4">
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">Suas notas</span>
      </div>
      <div class="card-body">
        <div class="row font-weight-bold bg-light border-bottom">
          <div class="col-md-5">Curso</div>
          <div class="col-md-2">Período</div>
        </div>
        <div class="row pt-2 pb-2">
          <div class="col-md-5">Análise e Desenvolvimento de Sistemas</div>
          <div class="col-md-2">20202</div>
        </div>
        <div class="row font-weight-bold bg-light">
          <div class="col-md-5">Disciplina</div>
          <div class="col-md-1">A1</div>
          <div class="col-md-1">A2</div>
          <div class="col-md-1">A3</div>
          <div class="col-md-2">Média Final</div>
          <div class="col-md-2">Média CA</div>
        </div>
        <% notas.forEach(function(nota, index) { %>
          <div class="row border-top pt-2 pb-2">
            <div class="col-md-5"><%= nota.disciplina %></div>
            <div class="col-md-1"><%= nota.a1 %></div>
            <div class="col-md-1"><%= nota.a2 %></div>
            <div class="col-md-1"><%= nota.a3 %></div>
            <div class="col-md-2"><%= nota.mediaFinal() %></div>
            <div class="col-md-2"><%= nota.mediaCA() %></div>
          </div>
          <% }) %>  
      </div>
    </div>
  </div>
  <footer class="footer mt-auto text-center py-3">
    <div class="container">
      <span class="text-muted">&copy; 2019</span>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>